
@media (max-width: 1200px){
    #home,
    #about {
        margin-top: 0;
        font-size: 0.8em;
    }

    #home button {
        width: 200px;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px){
    header nav {
        display: none;
    }

    #home,
    #about {
       flex-direction: column;
    }

    #home > *,
    #about > * {
        width: 100%;
    }

    #home img {
       display: none;
    }

    #about li {
        line-height: 20px;;
    }
}


@media (max-width: 500px){
    header {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 20px;
    }

    #home button {
        width: 100%;
    }

    #services .block {
        width: 100%;
    }

    footer {
        text-align: center;
        line-height: 30px;
    }
}
